@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class=" alert-heading">
    <a asp-controller="Spa" asp-action="Menu">Menu</a><br />
    <a asp-controller="User" asp-action="Add">Add User</a>
</div>